@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap");

$primary-color: #10178f;
$secondary-color: #8b9fea;

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: #f0f0f0;
  color: #101828;
}

h1, h2, h3, h4, h5, h6 {
  color: #101828; 
}


.text-center {
  text-align: center;
}

.mt-4 {
  margin-top: 1rem;
}

